logs
*.log

build/Release

node_modules/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache
.parcel-cache

.vscode-test

tmp/
go.sum
static/
build/

rest/myroutes.http